

<table class="table table-striped">

  <thead>
    <tr>
      <th>Name</th>
      <th>Phone</th>
      <th>Data and time</th>
      <th>Barber</th>
      <th>Color</th>
    </tr>
  </thead>

  <tbody>
    <%@results.each do |row|%>
      <tr>
        <td><%=row['user_name']%></td>
        <td><%=row['phone']%></td>
        <td><%=row['data_time']%></td>
        <td><%=row['barber']%></td>
        <td style="background-color:<%=row['color']%>"><%=row['color']%></td>
      </tr>
    <%end%>
  </tbody>
</table>
